.game-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  width: 500px;
}

.logo-trivia {
  margin-top: 30px;
  width: 60%;
}

.button-next {
    background-color: #4d046e;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.button-next:hover {
  background-color: #7514a1;
  transition: .5s;
}

.counter {
  background-color: #7514a1;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
  padding: 0.5em;
}

.container-questions {
  margin-top: 1rem;
}

.container-questions p {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.5em;
}

.container-questions button {
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.border-green {
  border: 3px solid rgb(6, 240, 15);
}

.border-red {
  border: 3px solid red;
}

.border-black {
  border: 2px solid black;
}

@media screen and (max-width: 500px) {
  .game-container{
    height: 550px;
    width: 350px;
  }

  .counter {
    font-size: 1em;
  }

  .container-questions p {
    font-size: 0.8em;
  }

  .container-questions button {
    font-size: 0.8em;
    padding: 5px;
  }

  .button-next {
    margin-top: 1em;
  }
}
