* {
  border: none;
  box-sizing: border-box;
  color: #323232;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

body {
  background-image: linear-gradient(100deg, rgba(64, 13, 131, 0.65), hsl(0, 0%, 100%, 0.65)),
  url('https://img.freepik.com/premium-vector/neon-game-controllers-joysticks-game-console_32996-1086.jpg?w=2000');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}
